<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.dandelion.model.mapper.MstProductMapper">
	
	<select id="findByProductName" resultType="jp.co.internous.dandelion.model.domain.MstProduct">
		SELECT * FROM mst_product 
		WHERE 
		<foreach collection="itemName" item="itemName" index="i"  open="(" separator=" " close=")">
			<if test="i == 0">
				(product_name LIKE '%${itemName}%')
			</if>
			<if test="i > 0">
				OR (product_name LIKE '%${itemName}%')
			</if>
		</foreach>

	</select>
	
	<select id="findByCategoryIdAndProductName" resultType="jp.co.internous.dandelion.model.domain.MstProduct">
		SELECT * FROM mst_product 
		WHERE category_id = #{category} 
		AND
		<foreach collection="itemName" item="itemName" index="i"  open="(" separator=" " close=")">
			<if test="i == 0">
				(product_name LIKE '%${itemName}%')
			</if>
			<if test="i > 0">
				OR (product_name LIKE '%${itemName}%')
			</if>
		</foreach> 
	</select>

</mapper>